@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');

.modal-content{
    z-index: 10;
}
.modal-dialog{
    top: 0;
    position: fixed !important;
}

#root {
    background-color: #282828;
}

.modal-content {
    background:linear-gradient(to right top, #5c258d, #5e23a7, #5c22c3, #5222e0, #3826ff) !important;
    /* background: linear-gradient(to right top, #5c258d, #5e23a7, #5c22c3, #5222e0, #3826ff); */
    box-shadow: 0 3px 5px 2px rgb(109, 109, 109);
    border-color:  #282828 !important;
    border-width: 15px !important;
}
.MuiInputBase-input {
    color: white !important;
    /* background-color: red !important; */
}

.MuiInputLabel-outlined {
    color: white !important;
}

.MuiOutlinedInput-input {
    color: white !important;
}


.makeStyles-textField-97 {
    margin-top: 13px !important;
}

.navbar>.container {
    display: inline !important;
}

.jumbotron {
    background-color: transparent !important
}


